.nav li {
    display: inline-block;
    text-decoration: underline;
    background-color: pink;
    margin-bottom: 15px;
  }


  .did-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .did-list li {
    border: 2px dotted pink;
    list-style: none;
    padding: 0.5em;
    margin: 0;
  }







