
html {
  background-image: url("./background1.png");
  background-size: 130%;
  background-repeat: repeat;
  background-position: 0px -50px;
  background-attachment: fixed;
}


body{
  padding: 0;
  margin:0;
}



a {
  color: #000;
  background-color: #b4b6fd;
}

a:hover {
  color:#2afd73;
  cursor: help;
}

.nav-subcontainer{
  margin-top: 2em;
  max-width: 100vw;
  padding-left: 15px; 
  padding-right: 15px;
}


div .content-subcontainer{
  max-width: 100vw;
  padding-left: 15px; 
  padding-right: 15px;
  display: inline-block; 
  text-align: left; 
  width: 700px; 
  margin-bottom: 20px; 
}



.nav li {
    display: inline-block;
    text-decoration: underline;
    margin-bottom: 1em;
  }



  .did-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .did-list a {
    background-color: transparent;
  }



  .did-list li {
    border: 1px dotted ;
    list-style: none;
    padding: 0.5em;
    margin-bottom: 1.5em;
  }




h1{
  padding:0;
  margin:0;
  font-size: 1.7em;
  margin-bottom: 0.5em;
}

h2{
  padding:0;
  margin:0;
  font-size: 1.3em;
  margin-bottom: 0.5em;
}

.article-head{
  margin-bottom: 2em;
}

.article-content{
  margin-top: 0;
  margin-bottom: 2em;
}
.article-intro{
  margin-bottom: 2em;
}


figure{
  margin:0px;
  padding:0px;
  margin-bottom: 2em;
}

figure img {
  width: 100%;
  display: block;
  max-width: 100vw;

}

figcaption {
  margin: 0;
  padding: 0;
  text-align: left;
  color: #666;
  font-size: 15px;
}

figcaption p {
  margin: 0;
  padding: 5px 0px;
}


.drag{
  cursor:move;
}